<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js</title>
    <!-- bản phát triển (development), bao gồm những cảnh báo hữu ích trong console -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app-10">
        <p>Thông điệp ban đầu: "{{ message }}"</p>
        <p>
            Thông điệp bị đảo ngược bằng tính toán (computed): "{{ reversedMessage }}"
        </p>
    </div>
    <script>
        var app10 = new Vue({
            el: "#app-10",
            data: {
                message: "người đông bến đợi thuyền xuôi ngược",
            },
            computed: {
                // một computed getter
                reversedMessage: function() {
                    // reversedMessage là một computed property
                    // `this` trỏ tới đối tượng vm
                    return this.message.split(" ").reverse().join(" ");
                },
            },
        });
    </script>
</body>

</html>