<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js</title>
    <!-- bản phát triển (development), bao gồm những cảnh báo hữu ích trong console -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app-8">
        <p>{{ foo }}</p>
        <button @click="foo = 'baz'">Update please!</button>
    </div>
    <script>
        var obj = {
            foo: "bar",
        };
        Object.freeze(obj); // Block obj update
        var app8 = new Vue({
            el: "#app-8",
            data: obj,
        });
    </script>
</body>

</html>