<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js</title>
    <!-- bản phát triển (development), bao gồm những cảnh báo hữu ích trong console -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app-9">
        <span>Message: {{ msg }}</span>
        <!-- Message will be change when msg change -->
        <span v-once>Message never change: {{ msg }}</span>
        <!-- v-once (không cập nhật lại khi dữ liệu thay đổi) -->
    </div>
    <script>
        var app9 = new Vue({
            el: "#app-9",
            data: {
                msg: "data example",
            },
        });
    </script>
</body>

</html>