<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js</title>
    <!-- bản phát triển (development), bao gồm những cảnh báo hữu ích trong console -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app-4">
        <ol>
            <li v-for="todo in tools" v-html="todo.text"></li>
        </ol>
    </div>
    <script>
        var app4 = new Vue({
            el: "#app-4",
            data: {
                tools: [{
                    text: "Learning Vue.js"
                }, {
                    text: "Learning React.js"
                }, {
                    text: "Learning Angular.js"
                }, ],
            },
        });
    </script>
</body>

</html>