<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js</title>
    <!-- bản phát triển (development), bao gồm những cảnh báo hữu ích trong console -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app-3">
        <span v-if="seen">Fade in fade out</span>
    </div>
    <script>
        var app3 = new Vue({
            el: "#app-3",
            data: {
                seen: true,
            },
        });
    </script>
</body>

</html>