<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js</title>
    <!-- bản phát triển (development), bao gồm những cảnh báo hữu ích trong console -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app-7">
        <p>Something in somewhere</p>
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>
    <script>
        Vue.component("todo-item", {
            props: ["todo"],
            template: "<li>{{todo.text}}</li>",
        });

        var app7 = new Vue({
            el: "#app-7",
            data: {
                groceryList: [{
                    id: 0,
                    text: "PHP Laravel Yii",
                }, {
                    id: 1,
                    text: "Java Spring",
                }, {
                    id: 2,
                    text: "C# .Net Unity",
                }, {
                    id: 3,
                    text: "HTML CSS JS",
                }, {
                    id: 4,
                    text: "Javascript jQuery",
                }, {
                    id: 5,
                    text: "Python Flask",
                }, ],
            },
        });
    </script>
</body>

</html>